@using SamokatTask.Data.Models
@model IEnumerable<Rank>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h1>Рейтинг</h1>
    @{
        foreach (var tilda in Model)
        {
            <div>
                <h2>Место рейтинга: @tilda.Id.ToString()</h2>
                <h2>Фото профиля: @tilda.Img</h2>
                <h2>ФИО: @tilda.Name</h2>
                <h2>Сезонный уровень: @tilda.Level.ToString()</h2>
            </div>
        }
    }
</body>
</html>
